* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body {
    background-color: #0C2431;
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 9;
}

.navbar-links {
    text-decoration: none;
    color: white;
    width: 200%;         /*change*/
}

.navbar-links:hover {
    color: #0096ff;
}

#brand img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#brand {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    display: flex;
    align-items: center;
    /*margin-right: 20%;*/
    margin-right: 2em; /*change*/
}

.nav-hideLetter {
    color:              #B1C2C7;
    font-size:          small;
}

/* --------------------------------------------------- Mohammad, Start: (spielehinzufügen) */
.AddGame-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-AddGame-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.AddGame-label {
    color:              white;
}

.form-AddGame-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.AddGame-label {
    display:            block;
    margin-bottom:      5px;
}

.AddGame-input, .AddGame-textarea {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
    background-color:   white;
}

.AddGame-textarea, #AddGame-category, #AddGame-platform {
    height:             90px;
}

.AddGame-textarea {
    max-width:          100%;
}

.form-AddGame-span {
    font-size:          14px;
    color:              #B1C2C7
}

#AddGame-image, #AddGame-file, #AddGame-category, #AddGame-platform {
    cursor:             pointer;
}

#AddGame-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#AddGame-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}

.AddGame-input::-webkit-scrollbar {
    width:              12px;
}

.AddGame-input::-webkit-scrollbar-track {
    background:         transparent;
    border-radius:      10px;
}

.AddGame-input::-webkit-scrollbar-thumb {
    background:         #888;
    border-radius:      10px;
}

.AddGame-input::-webkit-scrollbar-thumb:hover {
    background:         #555;
}

.AddGame-distance
{
    padding:            10px;
    border-radius:      50px;
}
/* --------------------------------------------------- Mohammad, Ende: (spielehinzufügen) */

#nav-menu-UeberUns,  #nav-menu-Spiele{
    background-color:   #B1C2C7;
    color:              black;
    padding:            7px;
    border-radius:      100px;
    font-size:          smaller;
    font-weight:        bold;
    cursor:             pointer;
}

#nav-menu-UeberUns:hover, #nav-menu-Spiele:hover {
    background-color:   #0096ff;

    .nav-hideLetter {
        color: #0096ff;
    }
}

/* --------------------------------------------------- Mohammad, Start: (registrieren) */
.register-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-register-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.register-label {
    color:              white;
}

.form-register-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.register-label {
    display:            block;
    margin-bottom:      5px;
}

.register-input {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
}

#register-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#register-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}
/* --------------------------------------------------- Mohammad, Ende: (registrieren) */


/* --------------------------------------------------- Mohammad, Start: (Profilbearbeiten) */
.profile-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-profile-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.profile-label {
    color: white;
}

.form-profile-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.profile-label {
    display:            block;
    margin-bottom:      5px;
}

.profile-input {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
}

#profile-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#profile-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}
/* --------------------------------------------------- Mohammad, Ende: (Profilbearbeiten) */


/* --------------------------------------------------- Mohammad, Start: (FAQ) */
.faq {
    background-color:   white;
    margin-bottom:      15px;
    border-radius:      100px;
    overflow:           hidden;
    width:              50%;
    margin-left:        auto;
    margin-right:       auto;
}

#faq-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          60px;
    color:              white;
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.faq-question {
    display:            block;
    padding:            20px;
    background-color:   white;
    margin-left:        16px;
    cursor:             pointer;
    text-align:         center;
    font-size:          x-large;
    border-radius:      50px;
    font-weight:        bold;
}

.faq-answer {
    display:            none;
    padding:            15px;
    background-color:   white;
    font-size:          20px;
    text-align:         center;
    margin-left:        16px;
    transition:         all 0.5s ease-in-out;
    border-radius:      50px;
}

input[type="checkbox"] {
    display:            none;
}

input[type="checkbox"]:checked + label {
    background-color:   #0096ff;
}

input[type="checkbox"]:checked + label + .faq-answer {
    display:            block;
}
/* --------------------------------------------------- Mohammad, Ende: (FAQ) */


ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
}

ul li {
    padding: 5px;
    margin-right: 10px;
}

#searchbar {
    background-color: white;
    padding: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: left;
    width: 100%; /*change*/
    border-radius: 50px;
    margin-right: 10%;
}

#searchbar input {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

#searchbar i {
    margin-left: 5px;
}

#searchbar:hover i {
    color: #0096FF;
}

.dropdown-icon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #B1C2C7;
    border-radius: 100px;
    margin-right: 10px;
}

.dropdown-icon i {
    color: black;
}

.dropdown-icon:hover {
    background-color: #0096FF;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger-icon:hover .bar {
    background-color: #0096ff;
}

.open #hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

#hamburger-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(50vh - 80px);
    width: 100%;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

.navbar-dropdown-button {
    background-color: inherit;
    color: white;
    font-size: 32px;
    border: none;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 300px;
    padding: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar-dropdown-button:hover {
    color: #0096ff;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-icon-button {
    background-color: inherit;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

#profile-dropdown {
    position: relative;
    display: inline-block;
}

#profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

#profile-dropdown-content p {
    margin-bottom: 20px;
    font-size: 32px;
}

.profile-dropdown-content-button {
    height: 50px;
    width: 350px;
    background-color: #B1C2C7;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 18px;
    font-family: "Press Start 2P", cursive;
    margin-bottom: 20px;
}

.profile-dropdown-content-button:hover {
    background-color: #0096ff;
}

#profile-dropdown:hover #profile-dropdown-content {
    display: block;
}

#cart-dropdown {
    position: relative;
    display: inline-block;
}

#cart-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

#cart-dropdown:hover #cart-dropdown-content {
    display: block;
}

.StartseiteGrids {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 5% 30% 30% 30% 5%;
    margin-top: 20px;
    grid-row-gap: 5px;
}

.game-images {
    width:  400px;
    height: 230px;
    border-radius: 50px;
    z-index: 2;
}

.grid-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    grid-row-start: 2;
}

.grid-element-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: absolute;
    width:  400px;
    height: 230px;
    border-radius: 50px;
    z-index: 1;
    font-family: "Press Start 2P", cursive;
    color: #B1C2C7;
}

.game-images:hover {
    opacity: 0.40;
    transition: 1s;
}

.anglediv {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
}

.angle {
    font-size: xxx-large;
    color: #B1C2C7;
    background: inherit;
    border: none;
}

.angle:hover {
    color: #0096ff;
}

.grid-kategorie {
    display: flex;
    font-family: "Press Start 2P", cursive;
    font-size: xx-large;
    grid-column-start: 2;
    color: #B1C2C7;
}

footer {
    width: 100%;
    background-color: black;
    height: 40px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 10% 10% 10%;
    font-size: 20px;
}

#footer-brand {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.footer-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

#footer-impressum {
    display: none;
    grid-column-start: 4;
}

.footer-links:hover {
    color: #0096ff;
}

@media only screen and (max-width: 991px) {

    #nav-menu {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .navbar-dropdown-content-small {
        display: none;
        font-size: 24px;
        min-width: 150px;
        padding: 10px;

    }

    .navbar-dropdown:hover .navbar-dropdown-content-small {
        display: block;
    }

    .footer-desktop {
        display: none;
    }

    #footer-impressum {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px;
    }

    .StartseiteGrids {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 4% 32% 32% 32%;
        grid-template-columns: 100%;
        margin-top:  20px;
        margin-bottom: 20px;
    }

    .anglediv {
        display: none;
    }

    .grid-element {
        grid-row-start: auto;
    }

    .grid-kategorie {
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 10px;

    }

}