* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body {
    background-color: #0C2431;
    font-family: "Roboto";
}

nav {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 9;
}

 .navbar-links {
     text-decoration: none;
     color: white;
 }

 .navbar-links:hover {
     color: #0096ff;
 }

#brand img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#brand {
    font-family: "Press Start 2P";
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-right: 20%;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
}

ul li {
    padding: 5px;
    margin-right: 10px;
}

#searchbar {
    background-color: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: left;
    height: 40px;
    width: 20%;
    border-radius: 50px;
    margin-right: 10%;
}

#searchbar input {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
}

#searchbar i {
    margin-left: 5px;
}

#searchbar:hover i {
    color: #0096FF;
}

.dropdown-icon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #B1C2C7;
    border-radius: 100px;
    margin-right: 10px;
}

.dropdown-icon i {
    color: black;
}

.dropdown-icon:hover {
    background-color: #0096FF;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger-icon:hover .bar {
    background-color: #0096ff;
}

.open #hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

#hamburger-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(50vh - 80px);
    width: 100%;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

.navbar-dropdown-button {
    background-color: inherit;
    color: white;
    font-size: 32px;
    border: none;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 300px;
    padding: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar-dropdown-button:hover {
    color: #0096ff;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-icon-button {
    background-color: inherit;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

#profile-dropdown {
    position: relative;
    display: inline-block;
}

#profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
}

#profile-dropdown-content p {
    margin-bottom: 20px;
    font-size: 32px;
}

.profile-dropdown-content-button {
    height: 50px;
    width: 350px;
    background-color: #B1C2C7;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 18px;
    font-family: "Press Start 2P";
    margin-bottom: 20px;
}

.profile-dropdown-content-button:hover {
    background-color: #0096ff;
}

#profile-dropdown:hover #profile-dropdown-content {
    display: block;
}

#cart-dropdown {
    position: relative;
    display: inline-block;
}

#cart-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
}

#cart-dropdown:hover #cart-dropdown-content {
    display: block;
}

    .StartseiteGrids {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5% 95%;
        grid-template-columns: 5% 30% 30% 30% 5%;
        margin-top: 20px;
        grid-row-gap: 5px;
    }

.game-images {
        width:  400px;
        height: 230px;
        border-radius: 50px;
        z-index: 2;
    }

.grid-element {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        grid-row-start: 2;
    }

.grid-element-background {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        position: absolute;
        width:  400px;
        height: 230px;
        border-radius: 50px;
        z-index: 1;
        font-family: "Press Start 2P";
        color: #B1C2C7;
    }

.game-images:hover {
        opacity: 0.40;
        transition: 1s;
    }

.anglediv {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 2;
    }

.angle {
        font-size: xxx-large;
        color: #B1C2C7;
        background: inherit;
        border: none;
    }

.angle:hover {
        color: #0096ff;
    }

.grid-kategorie {
        display: flex;
        font-family: "Press Start 2P";
        font-size: xx-large;
        grid-column-start: 2;
        color: #B1C2C7;
    }

footer {
        width: 100%;
        background-color: black;
        height: 40px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 70% 10% 10% 10%;
        font-size: 20px;
    }
#footer-brand {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.footer-element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.footer-links:hover {
    color: #0096ff;
}

    @media only screen and (max-width: 991px) {

    #nav-menu {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

        .navbar-dropdown-content-small {
            display: none;
            font-size: 24px;
            min-width: 150px;
            padding: 10px;

        }

        .navbar-dropdown:hover .navbar-dropdown-content-small {
            display: block;
        }


    }