* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body {
    background-color: #0C2431;
    font-family: "Roboto";
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

/* Style für Navbar, muss über ganze Seite gehen (width), soll immer sichtbar sein (top, position, z-index) */
nav {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 9;
    justify-content: left;
}

/* Links sollen nicht unterstrichen oder standardmäßig eingefärbt sein (text-decoration), wenn man auf Links zeigt soll sich Farbe änder (Hover) */
 .navbar-links {
     text-decoration: none;
     color: white;
 }

 .navbar-links:hover {
     color: #0096ff;
 }

#brand img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#brand {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    display: flex;
    align-items: center;
    /*margin-right: 20%;*/
    margin-right: 2em; /*change*/
}

.nav-hideLetter {
    color:              #B1C2C7;
    font-size:          small;
}

/* --------------------------------------------------- Mohammad, Start: (spielehinzufügen) */
.AddGame-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-AddGame-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.AddGame-label {
    color:              white;
}

.form-AddGame-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.AddGame-label {
    display:            block;
    margin-bottom:      5px;
}

.AddGame-input, .AddGame-textarea {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
    background-color:   white;
}

.AddGame-textarea, #AddGame-category, #AddGame-platform {
    height:             90px;
}

.AddGame-textarea {
    max-width:          100%;
}

.form-AddGame-span {
    font-size:          14px;
    color:              #B1C2C7
}

#AddGame-image, #AddGame-file, #AddGame-category, #AddGame-platform {
    cursor:             pointer;
}

#AddGame-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#AddGame-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}

.AddGame-input::-webkit-scrollbar {
    width:              12px;
}

.AddGame-input::-webkit-scrollbar-track {
    background:         transparent;
    border-radius:      10px;
}

.AddGame-input::-webkit-scrollbar-thumb {
    background:         #888;
    border-radius:      10px;
}

.AddGame-input::-webkit-scrollbar-thumb:hover {
    background:         #555;
}

.AddGame-distance
{
    padding:            10px;
    border-radius:      50px;
}
/* --------------------------------------------------- Mohammad, Ende: (spielehinzufügen) */

#nav-menu-UeberUns,  #nav-menu-Spiele{
    background-color:   #B1C2C7;
    color:              black;
    padding:            7px;
    border-radius:      100px;
    font-size:          smaller;
    font-weight:        bold;
    cursor:             pointer;
}

#nav-menu-UeberUns:hover, #nav-menu-Spiele:hover {
    background-color:   #0096ff;

    .nav-hideLetter {
        color: #0096ff;
    }
}

/* --------------------------------------------------- Mohammad, Start: (registrieren) */
.register-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-register-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.register-label {
    color:              white;
}

.form-register-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.register-label {
    display:            block;
    margin-bottom:      5px;
}

.register-input {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
}

#register-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#register-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}
/* --------------------------------------------------- Mohammad, Ende: (registrieren) */


/* --------------------------------------------------- Mohammad, Start: (Profilbearbeiten) */
.profile-container {
    padding:            20px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    margin:             auto;
}

#form-profile-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          1em;
    color:              white;
    display:            flex;
    text-align:         center;
    justify-content:    center;
}

.profile-label {
    color: white;
}

.form-profile-group {
    display:            block;
    flex-direction:     column;
    margin-bottom:      15px;
    width:              40%;
    margin-left:        auto;
    margin-right:       auto;
}

.profile-label {
    display:            block;
    margin-bottom:      5px;
}

.profile-input {
    border:             1px solid #ccc;
    padding:            15px;
    width:              100%;
    box-sizing:         border-box;
    border-radius:      10px;
}

#profile-submit {
    cursor:             pointer;
    margin-top:         30px;
    border-radius:      50px;
    font-size:          20px;
    background-color:   #B1C2C7;
    padding:            15px;
    width:              30%;
    border:             none;
}

#profile-submit:hover {
    background-color:   #0096ff;
    font-weight:        bold;
}
/* --------------------------------------------------- Mohammad, Ende: (Profilbearbeiten) */


/* --------------------------------------------------- Mohammad, Start: (FAQ) */
.faq {
    background-color:   white;
    margin-bottom:      15px;
    border-radius:      100px;
    overflow:           hidden;
    width:              50%;
    margin-left:        auto;
    margin-right:       auto;
}

#faq-h1 {
    margin:             50px 0 25px 0;
    font-family:        "Press Start 2P", cursive;
    font-size:          60px;
    color:              white;
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.faq-question {
    display:            block;
    padding:            20px;
    background-color:   white;
    margin-left:        16px;
    cursor:             pointer;
    text-align:         center;
    font-size:          x-large;
    border-radius:      50px;
    font-weight:        bold;
}

.faq-answer {
    display:            none;
    padding:            15px;
    background-color:   white;
    font-size:          20px;
    text-align:         center;
    margin-left:        16px;
    transition:         all 0.5s ease-in-out;
    border-radius:      50px;
}

input[type="checkbox"] {
    display:            none;
}

input[type="checkbox"]:checked + label {
    background-color:   #0096ff;
}

input[type="checkbox"]:checked + label + .faq-answer {
    display:            block;
}
/* --------------------------------------------------- Mohammad, Ende: (FAQ) */


ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 32px;
}

/* Container um Listenelemente soll so groß sein wie der Content darin, damit bei Über Uns kein Zeilenumbruch erzwungen wird */
ul li {
    margin-right: 10px;
    min-width: 130px;
}

/* searchbar ist nur die div um den tatsächlichen searchbar input für styling und damit das Lupensymbol sich in und nicht neben der searchbar befindet */
#searchbar {
    background-color: white;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: left;
    height: 40px;
    width: 65%;
    border-radius: 50px;
    margin-right: 10px;
}

#searchbar input {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;
}

/* Lupensymbol in der searchbar damit es nicht ganz am linken Rand steht */
#searchbar i {
    margin-left: 5px;
}

#searchbar:hover i {
    color: #0096FF;
}

/* Für den Style der Profil-und Einkaufswagensymbole */
.dropdown-icon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #B1C2C7;
    border-radius: 100px;
    margin-right: 10px;
}

/* Die tatsächlichen Profil-und Einkaufswagenicons */
.dropdown-icon i {
    color: black;
}

.dropdown-icon:hover {
    background-color: #0096FF;
}

/* div für das selbstgebaute Hamburger-Symbol, soll in Desktopansicht nicht angezeigt werden (display), soll bei Hover den Cursor zu einem Zeiger machen
um zu zeigen das man damit Interagieren kann (cursor) */
#hamburger-icon {
    display: none;
    cursor: pointer;
    align-self: center;
    margin-right: 10px;
}

/* sind die 3 Striche die zusammen das Hamburger-Icon darstellen */
.bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger-icon:hover .bar {
    background-color: #0096ff;
}

/* Was mit dem Hamburger-Menu passieren soll wenn das Hamburger-Icon angeklickt wird */
#hamburger-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

/* Style für das Hamburger-Menü, soll vorerst nicht angezeigt werden, height soll über den halben Bildschirm gehen - 80px da die Navbar
 80 Pixel hoch ist und das Menü erst am unteren Ende der Navbar auftaucht */
#hamburger-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    height: calc(50vh - 80px);
    width: 100%;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

/* Style für den Button Spiele welcher noch weitere Elemente versteckt */
.navbar-dropdown-button {
    background-color: inherit;
    color: white;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

#navbar-small-dropdown-button {
    background-color: inherit;
    color: white;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

/* Style für den Button Spiele welcher noch weitere Elemente versteckt */
.navbar-dropdown-content {
    display: none;
    position: absolute;
    top: 59px;
    background-color: black;
    min-width: 300px;
    padding: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar-dropdown-button:hover {
    color: #0096ff;
}

#navbar-small-dropdown-button:hover {
    color: #0096ff;
}

.navbar-dropdown.active .navbar-dropdown-content {
    display: block;
}

/* Style für die Profil-und Einkaufswagenbuttons */
.navbar-icon-button {
    background-color: inherit;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
}

#profile-dropdown {
    position: relative;
    display: inline-block;
}

/* Style für den Content welcher sich hinter dem Profilicon verbirgt */
#profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
    top: 60px;
}

/* Style für Schrift im Profilinhalt */
#profile-dropdown-content p {
    margin-bottom: 20px;
    font-size: 32px;
}

/* Style für die Buttons welche Inhalt vom Profildropdown sind */
.profile-dropdown-content-button {
    height: 50px;
    width: 350px;
    background-color: #B1C2C7;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 18px;
    font-family: "Press Start 2P";
    margin-bottom: 20px;
}

.profile-dropdown-content-button:hover {
    background-color: #0096ff;
}

#profile-dropdown.profile-active #profile-dropdown-content {
    display: inline-block;
}

#cart-dropdown {
    position: relative;
    display: inline-block;
}

/* Style für Inhalt welcher sich hinter dem Einkaufswagendropdown verbirgt */
#cart-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 500px;
    background-color: black;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-family: "Press Start 2P";
    text-align: center;
    top: 60px;
}

#cart-dropdown.cart-active #cart-dropdown-content {
    display: block;
}

    .StartseiteGrids {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5% 95%;
        grid-template-columns: 5% 30% 30% 30% 5%;
        margin-top: 20px;
        grid-row-gap: 5px;
    }

.game-images {
        width:  400px;
        height: 230px;
        border-radius: 50px;
        z-index: 2;
    }

.grid-element {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        grid-row-start: 2;
    }

.grid-element-background {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        position: absolute;
        width:  400px;
        height: 230px;
        border-radius: 50px;
        z-index: 1;
        font-family: "Press Start 2P";
        color: #B1C2C7;
    }

.game-images:hover {
        opacity: 0.40;
        transition: 1s;
    }

.anglediv {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 2;
    }

.angle {
        font-size: xxx-large;
        color: #B1C2C7;
        background: inherit;
        border: none;
    }

.angle:hover {
        color: #0096ff;
    }

.grid-kategorie {
        display: flex;
        font-family: "Press Start 2P";
        font-size: xx-large;
        grid-column-start: 2;
        color: #B1C2C7;
    }

footer {
        width: 100%;
        background-color: black;
        height: 40px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 70% 10% 10% 10%;
        font-size: 20px;
        position: sticky;
        bottom: 0;
        z-index: 9;
        margin-top: auto;
    }

#footer-brand {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.footer-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

#footer-impressum {
    display: none;
    grid-column-start: 4;
}

.footer-links:hover {
    color: #0096ff;
}

#titel-einkaufe {
    color: white;
    font-family: "Press Start 2P";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#einkaufe-grid {
    display: grid;
    grid-row-gap: 20px;
}

.flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.einkaufe-grid-inhalt {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    background-color: #B1C2C7;
    width: 90%;
    height: 100px;
    border-radius: 25px;
}

.spiele-daten {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
}

.spiele-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spiele-status-inhalt-ausstehend {
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: red;
}

.spiele-status-inhalt-abgeschlossen {
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: green;
}

.wunschliste-grid-inhalt {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 90% 10%;
    background-color: #B1C2C7;
    width: 90%;
    height: 100px;
    border-radius: 25px;
}

.wunschliste-daten {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.wunschliste-daten-inhalt {
    display: block;
    text-align: center;
}

.wunschliste-uberschrift {
    font-family: "Press Start 2P";
    font-size: 18px;
}

.spiele-entfernen {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;
}

.remove-element {
    background-color: inherit;
    border: none;
}

.remove-element:hover {
    color: #0096ff;
}

#uberuns {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#uberuns h1 {
    font-size: 28px;
    font-family: "Press Start 2P";
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

#uberunstext {
    padding-bottom: 20px;
}

#uberunstext p {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#uberunsliste {
    color: white;
    font-size: 18px;
    width: 50%;
    display: inline-block;
    text-align: center;

}

#uberunsliste h2 {
    padding-bottom: 20px;
    font-weight: normal;
}

#uberunsliste p {
    margin: 10px
}

.bulletpoints {
    font-weight: bold;
}

#neuregistrieren {
    width: 100%;
    padding-top: 20px;
}

#uberuns h2 {
    font-family: "Press Start 2P";
    font-size: 20px;
    color: white;
    font-weight: normal;
}

#neuregistrieren button {
    background-color: #B1C2C7;
    border: none;
    height: 80px;
    width: 200px;
    border-radius: 50px;
    font-family: "Press Start 2P";
    margin: 20px;
}

#neuregistrieren button:hover {
    background-color: #0096ff;
}

#navbar-dropdown-content-small {
    display: none;
    position: relative;
    font-size: 24px;
}

.navbar-small-dropdown.nested-active #navbar-dropdown-content-small {
    display: inline-block;
}

.statisch h1 {
    color: white;
    font-family: "Press Start 2P";
    font-size: 28px;
    padding-top: 20px;
    font-weight: normal;
}

.statisch h3 {
    font-weight: normal;
    font-family: "Press Start 2P";
    font-size: 24px;
    color: white;
    padding-top: 20px;
}

.statisch p {
    font-size: 18px;
    color: white;
    font-family: Roboto;
    padding-top: 10px;
}

.statisch {
    display: inline-block;
    text-align: center;
}

.statischinhalt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.statisch h2 {
    font-size: 18px;
    font-family: "Press Start 2P";
    font-weight: normal;
    color: white;
    padding-top: 20px;
}

#dokumentation a {
    text-decoration: none;
    color: white;
}

#dokumentation h3:hover {
    color: #0096ff;
}

#dokumentation {
    padding-top: 50px;
}

    @media only screen and (max-width: 991px) {

    #nav-menu {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

        .footer-desktop {
            display: none;
        }

        #footer-impressum {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 10px;
        }

        .StartseiteGrids {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 4% 32% 32% 32%;
            grid-template-columns: 100%;
            margin-top:  20px;
            margin-bottom: 20px;
        }

        .anglediv {
            display: none;
        }

        .grid-element {
            grid-row-start: auto;
        }

        .grid-kategorie {
            grid-column-start: 1;
            grid-row-start: 1;
            padding: 10px;

        }

        #ggbrand {
            display: none;
        }

        #navbar-big {
            display: none;
        }

        #searchbar {
            width: 100%;
        }

        #brand {
            margin-right: 0;
        }

        #uberunsliste {
            width: 100%;
        }

        #profile-dropdown-content {
            position: fixed;
            right: 0;
            width: 100%;
            text-align: center;
            top: 80px;
        }

        #cart-dropdown-content {
            position: fixed;
            right: 0;
            width: 100%;
            top: 80px;
        }

        #profile-dropdown-content a {
            display: inline-block;
            text-align: center;
        }

    }